<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>Happy Travelling</title>
</head>
<body>
<div class="container-fluid">

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/admin">Admin</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Pesanan User <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
            <a href="/logout" class="btn btn-warning"> Logout </a>
        </div>
    </nav>

    <div th:switch="${jadwal.size()}">
        <h2 th:case="0" >No Schedule yet!</h2>
        <div th:case="*">

            <h2>Jadwal Penerbangan</h2>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th>Kota Asal</th>
                    <th>Kota Tujuan</th>
                    <th>Tanggal</th>
                    <th>Harga</th>
                    <th>Pesawat</th>
                    <th>Kuota Penumpang</th>
                    <th>Option</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="jad : ${jadwal}">
                    <td th:text="${jad.kotaasal}"></td>
                    <td th:text="${jad.kotatujuan}"></td>
                    <td th:text="${jad.tanggal}"></td>
                    <td th:text="${jad.harga}"></td>
                    <td th:text="${jad.pesawat}"></td>
                    <td th:text="${jad.passenger}"></td>
                    <td>
                        <a href="/delete">Hapus Jadwal</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/addschedule" class="btn btn-primary">Add a new Schedule</a></p>
    </div>

</div>
</body>
</html>