<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Happy Travelling</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>
<div class="container-fluid">

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Dashboard</a>
        <div class="my-2 my-lg-0">
            <a href="/logout" class="btn btn-warning"> Logout </a>
        </div>
    </nav>
    <div th:if="${sukses!=null}" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong th:text="${sukses}"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div th:switch="${jadwal.size()}">
        <h2 th:case="0" >No Schedule yet!</h2>
        <div th:case="*">
            <div  class="mx-auto">

                <h2>Jadwal Penerbangan</h2>
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th>Kota Asal</th>
                        <th>Kota Tujuan</th>
                        <th>Tanggal</th>
                        <th>Harga</th>
                        <th>Pesawat</th>
                        <th>Option</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="jad : ${jadwal}">
                        <td th:text="${jad.kotaasal}"></td>
                        <td th:text="${jad.kotatujuan}"></td>
                        <td th:text="${jad.tanggal}"></td>
                        <td th:text="${jad.harga}"></td>
                        <td th:text="${jad.pesawat}"></td>
                        <td>
                            <a th:href="@{/pesan/{id}(id=${jad.id})}" class="btn btn-primary">Pesan Pesawat</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>